@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@font-face {
    font-family: 'Bold';
    src: url('fonts/NotoSans_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Maria';
    src: url('fonts/Maria.otf') format('opentype');
}

@font-face {
    font-family: 'Regular';
    src: url('fonts/NotoSans_Regular.ttf') format('truetype');
}

body {
    background-color: rgb(21, 21, 21);
}

/* メタタグをHTMLの<head>に追加してください */
@viewport {
    width: device-width;
    initial-scale: 1;
    maximum-scale: 1;
    user-scalable: no;
}

mainTitle {
    color: white;
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Bold';
    font-size: 2.5vw;
    z-index: 10;
}

infoText {
    color: rgb(200, 200, 200);
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Bold';
    font-size: 0.7vw;
    z-index: 10;
}

userText {
    color: rgb(255, 255, 255);
    position: absolute;
    font-family: Regular;
    font-size: 0.8vw;
    margin-top: -150px;
}

userInfoText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Regular;
    color: rgb(255, 255, 255); 
    font-size: 0.7vw; 
    margin-top: 15px;
}

userInfoText:nth-of-type(2) {
    margin-top: 45px;
}

userInfoText:nth-of-type(3) {
    margin-top: 75px;
}

userInfoText:nth-of-type(4) {
    margin-top: 105px;
}

userInfoText:nth-of-type(5) {
    margin-top: 135px;
}

.searchbox {
    position: absolute;
    top: 45vh;
    left: 49vw;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 4vh;
    border-radius: 7px;
    background-color: rgb(23, 23, 23);
    border: thin solid rgb(60, 60, 60);
    color: white;
    font-size: 0.7vw;
    padding: 0 10px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Regular';
    transition: border 0.3s ease;
}

.searchbox:hover {
    border: thin solid rgb(85, 85, 85);
}

subTitle {
    color: rgb(200, 200, 200);
    position: absolute;
    top: 35vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Bold';
    font-size: 1vw;
    z-index: 10;
}

subTitle span {
    opacity: 0;
    animation: fadeIn 1s forwards;
    display: inline-block;
}

subTitle span:nth-child(1) { animation-delay: 0s; }
subTitle span:nth-child(2) { animation-delay: 0.1s; }
subTitle span:nth-child(3) { animation-delay: 0.2s; }
subTitle span:nth-child(4) { animation-delay: 0.3s; }
subTitle span:nth-child(5) { animation-delay: 0.4s; }
subTitle span:nth-child(6) { animation-delay: 0.5s; }
subTitle span:nth-child(7) { animation-delay: 0.6s; }
subTitle span:nth-child(8) { animation-delay: 0.7s; }
subTitle span:nth-child(9) { animation-delay: 0.8s; }
subTitle span:nth-child(10) { animation-delay: 0.9s; }
subTitle span:nth-child(11) { animation-delay: 1s; }
subTitle span:nth-child(12) { animation-delay: 1.1s; }

.loader {
    position: absolute;
    top: 70vh;
    left: 49vw;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side, #d4d4d4 94%, transparent) top/4px 4px no-repeat,
      conic-gradient(transparent 30%, #d4d4d4);
    mask: radial-gradient(farthest-side, transparent calc(100% - 4px), black 0);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 4px), black 0);
    animation: l13 1s infinite linear;
}

#searchButton {
    position: absolute;
    top: 45vh;
    left: 71vw;
    transform: translate(-50%, -50%);
    width: 3vw;
    height: 3.8vh;
    background-color: rgb(23, 23, 23);
    border: thin solid rgb(60, 60, 60);
    border-radius: 7px;
    cursor: pointer;
    transition: border 0.3s ease;
}

#searchButton:hover {
    border-color: rgb(85, 85, 85);
}

#searchButton img {
    position: absolute;
    top: 0.9vh;
    left: 0.9vw;
    width: 1.1vw;
    height: auto;
    max-width: 200px;
    max-height: 300px;
}

.background {
    position: absolute;
    top: 68vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 28vh;
    background-color: rgb(23, 23, 23);
    border: thin solid rgb(60, 60, 60);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    transition: border 0.3s ease;
}

.background:hover {
    border: thin solid rgb(85, 85, 85);
}

.line {
    width: 23vw;
    height: 0.2vh;
    background-color: rgb(25, 100, 255);
    border: thin solid rgb(60, 60, 60);
    border-radius: 5px;
    margin-top: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 2;
    }
}

@keyframes l13 {
    to {
        transform: rotate(1turn);
    }
}

infoText {
    position: absolute;
    top: 50vh;
    left: 50vw;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro';
    font-size: 0.7vw;
    color: rgba(255,255,255,.70);
}

infoText {
    animation: animated-text 8s steps(29,end) 2s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
}


@keyframes animated-text {
    from{width: 0;}
    to{width: 472px;}
}

@keyframes animated-cursor {
    to{border-right-color: transparent;}
}

@media (max-width: 768px) and (pointer: coarse)  {
    
    mainTitle {
        font-size: 8vw;
    }

    subTitle {
        font-size: 3vw;
    }

    .searchbox {
        width: 75vw;
        height: 3vh;
        font-size: 2.5vw;
    }

    #searchButton {
        display: none;
    }
    
    #searchButton img {
        width: 0vw;
        height: 0vh;
    }


    infoText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5vw;
        white-space: nowrap;
        overflow: hidden;
        font-family: 'Source Code Pro';
        color: rgba(255, 255, 255, 0.7);
        max-width: 86%;
        width: auto;
        animation: animated-text-mobile 8s steps(29, end) 2s 1 normal both,
        animated-cursor 600ms steps(29, end) infinite;
    }

    @keyframes animated-text-mobile {
        from {
            width: 0;
            transform: translate(-50%, -50%);
        }
        to {
            width: 86%;
            transform: translate(-50%, -50%);
        }
    }
    
    @keyframes animated-cursor {
        to {
            border-right-color: transparent;
        }
    }

    .loader {
        position: absolute;
        top: 70vh;
        left: 49vw;
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        background: 
          radial-gradient(farthest-side, #d4d4d4 94%, transparent) top/3px 3px no-repeat,
          conic-gradient(transparent 30%, #d4d4d4);
        mask: radial-gradient(farthest-side, transparent calc(100% - 3px), black 0);
        -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 3px), black 0);
        animation: l13 1s infinite linear;
    }

    .background {
        width: 63vw;
        height: 27vh;
    }

    .line {
        width: 55vw;
    }

    userText {
        font-size: 3vw;
    }

    userInfoText {
        font-size: 2.5vw;
    }
}
